@use '../utils' as utils;
@use '../global/breakpoints' as breakpoints;

.content {
  margin-left: 35px;
  margin-block: 25px;

  &__title {
    @include utils.fluid-size(1.5rem, 2rem, font-size);

    font-family: var(--ff-primary);
    color: var(--clr-base-400);
    margin-bottom: 10px;
  }

  .callout {
    margin-block: 1rem 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;

    border: 1px solid var(--clr-neutral-700);
    background-color: var(--clr-neutral-900);

    &__title {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      font-weight: var(--fw-bold);
      color: var(--clr-base-300);

      margin-bottom: 0.75rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  p {
    @include utils.fluid-size(0.8125rem, 1rem, font-size);
  }

  h3 {
    @include utils.fluid-size(1.1rem, 1.4rem, font-size);
    font-family: var(--ff-primary);
    color: var(--clr-base-300);
    margin-top: 20px;
    margin-bottom: 8px;
  }

  ul {
    position: relative;
    list-style: none;

    margin-block: 15px;
    margin-left: 20px;
    padding-left: 24px;
  }

  ul::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 0.5rem;
    bottom: 0.5rem;
    width: 2px;
    background: var(--clr-neutral-700);
  }

  li {
    @include utils.fluid-size(0.875rem, 1rem, font-size);

    position: relative;

    margin-bottom: 12px;
    color: var(--clr-neutral-300);
  }

  li::before {
    content: '';
    position: absolute;
    left: -22px;
    top: 0.45em;
    width: 8px;
    height: 8px;
    border-radius: 999px;
    background: var(--clr-base-400);
  }

  pre {
    background-color: var(--clr-neutral-900);
    padding: 12px;
    border-radius: 8px;
    overflow-x: auto;
    margin-bottom: 15px;
  }

  code {
    font-family: monospace;
    font-size: 0.85em;
  }

  pre code {
    color: var(--clr-neutral-100);
  }

  p code {
    background: var(--clr-neutral-800);
    padding: 2px 6px;
    border-radius: 4px;
  }

  @include breakpoints.respond-to(md) {
    margin-left: 0;
    margin-right: 0;
  }

  @include breakpoints.respond-to(sm) {
    margin-block: 0 25px;

    ul {
      margin-left: 0;
      padding-left: 14px;
    }
  }
}
