@use '../utils/' as utils;
@use '../global/breakpoints' as breakpoints;
@use 'sass:math' as math;

.header {
  position: fixed;
  background-color: var(--clr-neutral-1000-alpha-500);
  width: 100%;
  backdrop-filter: blur(5px);
  border-bottom: var(--border-width-small) var(--border-base-style) var(--clr-neutral-700);
  padding: 15px 0;
  z-index: 1000;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__branding {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__logo {
    @include utils.fluid-size(2rem, 3rem, height);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--clr-base-400);
    border-radius: 50%;
  }

  @include breakpoints.respond-to(sm) {
    &__logo {
      position: static;
      transform: none;
    }
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__stylish-letter {
    color: var(--clr-base-300);
    font-weight: var(--fw-bold);
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__github,
  &__sponsor,
  &__theme-btn {
    @include utils.fluid-size(1.25rem, 1.5rem, font-size);
  }

  &__github,
  &__theme-btn {
    color: inherit;
    border: 0;
    background-color: transparent;
  }

  &__sponsor {
    color: var(--clr-base-400);
  }

  h1 {
    @include utils.fluid-size(1.5rem, 1.875rem, font-size);

    display: inline-block;
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    color: var(--clr-base-400);
  }

  h2 {
    @include utils.fluid-size(0.625rem, 0.8rem, font-size);

    font-weight: var(--fw-regular);
    color: var(--clr-neutral-100);
    padding-bottom: 5px;
    border-top: var(--border-width-regular) var(--border-base-style) var(--clr-base-500);
    padding-inline: 5px;
    border-radius: 8px;
  }
}
